*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  line-height: 1.5;
  -webkit-font-antialiased: antialiased;

  font-family: 'Inter', sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  min-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  cursor: default;
}

#root,
#__next {
  isolation: isolate;
}

[data-theme='dark'] {
  --font-color: #fafafa;
  --font-accent-color: #fafafa;

  --background-color: #181a20;
  --side-background-color: #24272e;
  --tile-background-color: #2a2f37;

  --tile-button-color: #181a20;
  --tile-button-hover-color: #484f5c;
  --tile-icon-buttons-hover-color: #7c828c;

  --accent-blue-color: #3b40df;
  --accent-blue-hover-color: #6365e5;

  --accent-red-color: #ff0000;

  --equalizer-background-color: #272a35;
}

[data-theme='light'] {
  --font-color: #0a0a0a;
  --font-accent-color: #fafafa;

  --background-color: #f8f9fa;
  --side-background-color: #e9ecef;
  --tile-background-color: #dee2e6;

  --tile-button-color: #f8f9fa;
  --tile-button-hover-color: #aaadb2;
  --tile-icon-buttons-hover-color: #6d747f;

  --accent-blue-color: #3b40df;
  --accent-blue-hover-color: #2a2ea3;

  --accent-red-color: #ff0000;

  --equalizer-background-color: #272a35;
}

[data-theme='blue'] {
  --font-color: #fafafa;
  --font-accent-color: #fafafa;

  --background-color: #001233;
  --side-background-color: #001845;
  --tile-background-color: #002855;

  --tile-button-color: #001233;
  --tile-button-hover-color: #134298;
  --tile-icon-buttons-hover-color: #3469cd;

  --accent-blue-color: #3b40df;
  --accent-blue-hover-color: #6365e5;

  --accent-red-color: #ff0000;

  --equalizer-background-color: #272a35;
}
